@import "fonts.scss";
@import "normalize.scss";
@import "modules/custom.scss";



// header.scss
@import "modules/header";

// footer.scss
@import "modules/footer";

// abouts.scss
@import "modules/about";

// news.scss
@import "modules/news";


.bg-svg {


    &-1 {
        position: absolute;
        z-index: -1;

        right: -9px;
        top: -125px;
            @media (max-width:767px) {
                display: none;
            }
    }

    &-2 {
        position: absolute;
        display: none;
        z-index: -1;

        right: 0;
            @media (max-width:767px) {
                display: block;
            }
    }
}




.section {

  &__header {


    padding: 1rem 0;

    border-top: 1px solid #596b63;
    border-bottom: 1px solid #596b63;


    margin-bottom: 1.5rem;

    h6 {
      margin: 0;

      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #596b63;

      @media (max-width:767px) {
        font-family: var(--font-family);
        font-weight: 300;
      }

    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;

    text-decoration: none;

    font-family: var(--second-family);
    font-weight: 450;
    font-size: 20px;
    color: #596b63;

    transition: 1s ease;

    cursor: pointer;

    width: fit-content;

    svg {
        transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;
        text-shadow: 0 0 1px #596b63;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }
  }

  &__title {

    &-secondary {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 40px;
      color: #212322;

      margin-bottom: 94px;
    }

    

  }

}
.ui-button {

  &__primary {
    border: 1px solid #faf2d6;
    border-radius: 22px;

    font-family: var(--font-family);
    font-weight: 450;
    font-size: 16px;
    color: #faf2d6;

    padding: 12px 18px;

    display: flex;
    align-items: center;
    gap: .5rem;

    text-decoration: none;

    svg {
      transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }

  }
}


.service-item {
    display: flex;
    min-height: 800px;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    
    background-image: url(../../img/hero-index-bg.jpg);
    object-fit: cover;
    background-position-y: -300px;
    
    @media only screen and (min-width: 991px) {
      flex-direction: row;
    }
    
    &.not-expanded {
      @media (max-width:991px) {
        min-height: 375px;
        height: 100%;

      }
    }

    &.expanded {
      @media (max-width:991px) {
        min-height: 900px;
        height: 100vh;
      }
    }

    &__block {
      flex: 1;
      display: flex;
      align-items: stretch;
      cursor: pointer;
      transition: all 0.35s ease;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      overflow: hidden;
      
      &:nth-child(1) {

        transition: 1s ease;

        &:hover::before {
          transition: 1s ease;

          background: rgba(195, 167, 77, 1);   
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
            
            @media (max-width:767px) {
              transform: scale(1);
            }
          }
        }

        &::before {
          transition: 1s ease;

          mix-blend-mode: multiply;
          background: rgba(195, 167, 77, 0.75);   

        }
      }

      &:nth-child(2) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(72, 147, 97, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
            
            @media (max-width:767px) {
              transform: scale(1);
            }
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(72, 147, 97, 0.75);
  
        }
      }

      &:nth-child(3) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(61, 151, 181, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
            
            @media (max-width:767px) {
              transform: scale(1);
            }
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(61, 151, 181, 0.75);
          
        }
      }

      &:nth-child(4) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(243, 178, 35, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
            
            @media (max-width:767px) {
              transform: scale(1);
            }
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(243, 178, 35, 0.75);
          
        }
      }

      &:nth-child(5) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(217, 216, 214, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
            
            @media (max-width:767px) {
              transform: scale(1);
            }
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(217, 216, 214, 0.75);
          
        }
      }
      

      &:before {
        content: "";
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(15, 15, 15, 0.75);
        mix-blend-mode: color;
      }
  
      &--active {
        flex: 8;
        cursor: default;
  
        &:before {
          
        }
      }
    }
  
    &__title {
      font-weight: bold;
      white-space: nowrap;
      position: absolute;
      z-index: 30;
      opacity: 1;
      bottom: 4rem;
      transition: top 0.35s, opacity 0.15s;
      transform-origin: 0 0;
      font-size: 24px;
      text-transform: uppercase;

      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: center;

      @media (max-width:991px) {
        bottom: 0;
        height: 100%;
        margin: 0 auto;
        transform: rotate(90deg);
        top: 0;
        right: 0;
        left: 0;
        transform-origin: center;
        align-items: center;
      }

      svg {
        transition: 1s ease;

        &:first-of-type {
          @media (max-width:1279px) {
            display: block !important;
          }
        }
        &:last-of-type {
          @media (max-width:1279px) {
            display: none;
          }
        }
      }

  
      .service-item__block--active & {
        opacity: 0;
        top: 200%;
      }
    }
  
    &__section-content {
      position: relative;
      z-index: 30;
      opacity: 0;
      align-self: flex-end;
      width: 100%;
      transition: all 0.35s 0.1s ease-out;

      height: 100%;
  
      .service-item__block--active & {
        opacity: 1;
      }
  
      
    }

    &__inner {
      position: absolute;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      align-items: flex-end;
      left: 0;
      bottom: 0;
      padding: 20px;
      opacity: 0;
      transition: opacity 0.25s ease-out;

      height: auto;
      top: 0;
  

      @media only screen and (min-width: 768px) {
        grid-auto-flow: column;

        grid-column-gap: 40px;
        padding: 4rem 2rem;
      }

      @media only screen and (min-width: 1280px)  {
        grid-auto-flow: column;
        grid-template-columns: 50vw 200px;
        grid-column-gap: 40px;
        padding: 4rem 2rem;
      }

      .service-item__block--active & {
        opacity: 1;
      }
    }
  
    &__bio {
      display: flex;
      flex-direction: column;
      grid-gap: 24px;
      height: 100%;

      & > svg:last-of-type {
        margin-top: auto;

        @media (max-width:767px) {
          display: none;
        }
      }
  
      &-title {
        font-family: var(--second-family);
        font-weight: 350;
        font-size: 64px;
        color: #faf2d6;

        margin: 0;
  
        @media only screen and (min-width: 768px) {
          font-size: 48px;
          line-height: 48px;
        }
  
        @media only screen and (min-width: 1280px) {
          font-size: 64px;
          line-height: 64px;
        }



        span {
         
          @media (max-width:767px) {
            display: none;
          }
        }

        svg {
          display: none;
          @media (max-width:767px) {
            display: flex;
          }
        }

      }
  
      &-description {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 18px;
        color: #faf2d6;
      }
    }
  
    
    &__links {
      display: flex;
      gap: 2rem;
      height: fit-content;
      align-items: center;

      @media (max-width:991px) {
        margin-top: auto;
      }

      .section__link {
        color: #faf2d6;
      }
    }
}


// nums
.nums {
  padding: 8rem 0 ;
  background: #596b63;

  @media (max-width:767px) {
    padding: 4rem 0;
  }

  .swiper-custom-controls {
    display: none;
    @media (max-width:991px) {
      display: flex;
    }
    .custom-pagination {
      color: #faf2d6;
      font-weight: 300;
      font-family: var(--second-family);
    }
    .nums-pagination-total {
      opacity: .5;
    }
  }
  .swiper-wrapper {
    @media (max-width:991px) {
      margin-bottom: 8rem;
    }

    justify-content: space-between;

    .swiper-slide {
      width: fit-content;

    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &::after {

    }

    &--num {
      font-family: var(--second-family);
      font-weight: 250;
      font-size: 125px;
      letter-spacing: 0.04em;
      color: #faf2d6;
    }
    &--subtitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #faf2d6;

      max-width: 250px;
    }
  }

  &__divider {
    height: auto;
    width: 1px;
    background-color: #faf2d6;
  }
}

// our-impact
.our-impact {
  padding: 3rem 0;

  &__wrapper {
    display: flex;
    gap: 2rem;

    @media (max-width:991px) {
      flex-direction: column;
    }
  }

  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @media (max-width:567px) {
      gap: 8px;
    }

    
  }

  &--link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;

    margin-top: 4rem;
    margin-left: auto;

    padding-right: 1rem;

    font-family: var(--second-family);
    font-weight: 450;
    font-size: 20px;
    color: #596b63;

    transition: 1s ease;

    cursor: pointer;

    width: fit-content;

    svg {
        transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;
        text-shadow: 0 0 1px #596b63;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }
  }



  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 56px;

    @media (max-width:567px) {
      margin-top: 24px;
    }

    h5 {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 36px;
      line-height: 131%;
      color: #596b63;

      margin: 0;
      
      @media (max-width:1440px) {
        font-size: clamp(1.25rem, 0.971rem + 1.143vw, 2rem);
      }
      
    }
    p {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 16px;
      color: #596b63;
      font-size: 18px;
      @media (max-width:1440px) {
        font-size: 16px;
      }
      @media (max-width:467px) {
        font-size: 14px;
      }
    }
  }

  &__links {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: auto;

    @media (max-width:991px) {
      margin-top: 4rem;
    }
    @media (max-width:567px) {
      margin-top: 52px;
    }

  }
}
  
// quote
.quote {
  padding: 3rem 0;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 33%;
  }

  &__quote {
    position: relative;
    
    display: flex;
    flex-direction: column;
    

    p {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 40px;
      line-height: 105%;
      color: #596b63;


      @media (max-width:767px) {
        margin-left: 4rem;
      }
    }
  }

  &__author {
    font-family: var(--font-family);
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #596b63;

    margin-top: auto;

    @media (max-width:1440px) {
      font-size: 14px;
    }
  }
  
  &__dc {
    position: absolute;
    left: -72px;    
    top: 0;

    @media (max-width:767px) {
      top: 45px;
      left: 0;
    }
  }

  &__img {
    max-width: 20%;

    @media (max-width:767px) {
      display: none;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
    
  }

}



.swiper-custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}

.custom-pagination {
  display: flex;
  align-items: center;
  gap: 7px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #212322;

  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;

  &-current {
    color: #212322;
  }

  &-total {
    opacity: 0.5;
  }
  
}




.custom-navigation {


  display: flex;
  gap: 10px;
  z-index: 10;
}



// branch
.branch-main {
  position: relative;

  .about-post {
    background-color: #fff;

    h2 {
      color: #212322;
    }

    p {
      color: #212322;
    }
  }

  .our-impact {
    padding-bottom: 5rem;

    @media (max-width:567px) {
      padding: 5rem 0 3rem;
    }
  }
}

.branch-hero {
  height: 100vh;
  img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
  }
  .container {
    height: 100%;
  }

  &__header {
    h5 {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #faf2d6;
  
      margin-bottom: 1rem;
    }
  }
  &__title {
    h4 {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 64px;
      color: #faf2d6;
  
     
      margin: 0 0 76px 0;
  
      max-width: 720px;
      @media (max-width:991px) {
        max-width: unset;
      }
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  

  }
}

.portfolio {

  &-accordion {
    .accordion-item-header {
      border-bottom: none;
      border-top: 1px solid #212322;
      padding: 1rem 0 0 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 4rem;


    @media (max-width:1921px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media (max-width:1023px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width:467px) {
      grid-template-columns: 1fr;
    }

    .swiper-wrapper {
      .swiper-slide {
        height: fit-content !important;
      }
    }

  }

  &__card {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    transition: 1s ease;


    &:hover {
      transition: 1s ease;

      .portfolio__card-img {
        transition: 1s ease;

        img {
          transition: 1s ease;
          transform: scale(1.1);
        }
      }

      .section__link {
        transition: 1s ease;
        text-shadow: 0 0 1px #596b63;

        svg {
          transition: 1s ease;
          transform: rotate(47.5deg);
      
        }

      }
    }

    &-img {
      border-radius: 12px;
      margin-bottom: 1rem;
    
      transition: 1s ease;
      overflow: hidden;

      max-height: 300px;

      img {
        transition: 1s ease;

        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
       

        aspect-ratio: 1;
      }
    }
    &-title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 131%;
      color: #000;

      margin-bottom: .75rem;
    }
    &-subtitle {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 16px;
      color: #000;

      margin-bottom: 0.75rem;
    }

  }
}

.logotype {

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;

    @media (max-width:1023px) {
      grid-template-columns: 1fr 1fr;
      
    }

   
  } 

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:1023px) {
      &:nth-child(9) {
        grid-column: 1 / -1;
      }
    }
  }

}


.recent-spotlight {
  padding-bottom: 150px;

  .section__title-secondary {

    @media (max-width:991px) {
      margin-bottom: 2px;
    
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #000;
    }
  }

  &__wrapper {

    .swiper-wrapper {
      @media (min-width:991px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 2rem;
    
        max-width: 90%;
    
        margin: 0 auto;
        
      }
      @media (max-width:1199px) {
        max-width: 100%;
        column-gap: 2rem;
      }
      @media (max-width:991px) {
        gap: 0;
        margin-bottom: 60px;
      }
    }
    .swiper-custom-controls {
      justify-content: flex-end;
    }
  }
}

.spotlight__card {

 

  &-title {
    h4 {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 40px;
      line-height: 105%;
      color: #000;
  
      margin: 0 0 18px;

      @media (max-width:467px) {
        text-transform: uppercase;
      }
    }
  }
  &-text {
    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: #000;
      
  
      margin: 0 0 28px;
    }
  }
  

}









// blog
.blog {
  &-img {
    margin-top: 2rem;
    margin-bottom: 4rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-header {
    margin-bottom: 10rem;
    .blog-title {
      h5 {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 40px;
        line-height: 105%;
        color: #596b63;

        margin: 0 0 1.5rem 0;

        max-width: 720px;
        @media (max-width:767px) {
          max-width: 100%;
        }
      }
    }
    .blog-date {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: #212322;
    }
  }
  &-body {
    max-width: 66%;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 32px;
      line-height: 131%;
      margin: 4rem 2rem;
    }

    p {
      margin: 2rem;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 162%;
      color: #000;
    }

    div > img {
      margin-bottom: 0;
    }
    div {
      & > p {
        &:first-of-type {
          margin: 1rem 0 0rem 0;  
          color: #000;
        }
        margin: 0 0 1rem 0;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: #9d9d9d;
      }
    }
  }
}




// what-we-do
.what-we-do {

  .swiper-custom-controls {
    display: none;
    @media (max-width:991px) {
      display: flex;
    }
  }

  @media (max-width:991px) {
    padding-top: 56px;
  }
}
.we-do {

  padding: 88px 0 42px;

  @media (max-width:991px) {
    padding: 36px 0 100px 0;
  }

  .section__link {
    margin-bottom: 12px;
  }
  
  

  &__slider {

    .swiper-wrapper {

      flex-direction: column;

      @media (max-width:991px) {
        flex-direction: row;
      }

    }

  }

  &__wrapper {
    display: flex;
    
    
    justify-content: center;
    gap: 6rem;

    @media (max-width:1660px) {
      justify-content: space-between;
      gap: 2rem;
    }

    @media (max-width:991px) {
      flex-direction: column-reverse !important;
    }

    &.reverted {
      flex-direction: row-reverse;
      gap: 72px;
      
      @media (max-width:991px) {
        gap: 0;
      }

      .we-do__img {
        @media (max-width:991px) {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
    }
  }
  
  &__img {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 62px;

    @media (max-width:991px) {
      justify-content: space-between;
    }
    
    &.small {

      div {
        &:first-child {
          max-width: 300px;
          max-height: 100%;
        }
        &:last-child {
          max-width: 200px;
          max-height: 100%;

          @media (max-width:991px) {
            
          }
        }
      }
      
    }
    &.big {

      div {
        &:first-child {
          max-width: 300px;
          max-height: 100%;
        }
        &:last-child {
          max-width: 400px;
          max-height: 100%;

          @media (max-width:991px) {
            max-width: 200px;
            max-height: 400px;
          }
        }

      }
    }

    img {
      width: 100%;
      object-fit: cover;

      @media (max-width:991px) {
        max-height: 100% !important;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 450px;

    @media (max-width:991px) {
      max-width: unset;
    }
  }

  &__count {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #596b63;

    @media (max-width:991px) {
      display: none;
    }
  }

  &__title {
    
    

    h5 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 40px;
      line-height: 105%;
      color: #212322;

      margin: 18px 0 32px 0;
    }

  }

  &__text {

    p {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 16px;
      color: #000;

      margin: 0 0 16px;
    }

  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    padding: 0rem 0rem 1rem;

    margin-bottom: 40px;
  }

  &__tag {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #596b63;

      border: 1px solid #596b63;
      border-radius: 26px;
      padding: 4px 24px;
  }

}
.we-do__slider-pagination-current {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #212322;
}
.we-do__slider-pagination-total {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #212322;

  opacity: 0.5;
}


// input 

.ui-input {
  width: 100%;
  padding: 12px; // отступы внутри инпута
  border: 1px solid #000;
  border-radius: 30px; // скругленные углы
  font-size: 16px;
  outline: none;
  position: relative;

  background-color: transparent;

  width: 400px;

  &::placeholder {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 16px;

    color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    border-color: #888; // цвет рамки при фокусе
  }
}

.email-input {
  background-image: url('data:image/svg+xml;base64,...'); // здесь вставить SVG код стрелки
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px 20px;
}

.newsletter {
  background-color: #e7eaeb;

  padding: 100px 0 120px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;

    position: relative;

  }

  &__subtitle {
    
    h6 {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      text-align: center;
      color: #596b63;

      margin: 0 0 8px 0;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {

      font-family: var(--second-family);
      font-weight: 200;
      font-size: 64px;
      text-align: center;
      color: #212322;

      margin: 0 0 50px 0;

      max-width: 660px;

      @media (max-width:1440px) {
        font-size: clamp(2rem, 1.257rem + 3.048vw, 4rem);
      }
    }
  }
}
.newsletter__submit {
  position: absolute; 
  bottom: 8px;
  right: 10px;

  border: none;
  background-color: transparent;
}







