@import "fonts.scss";
@import "normalize.scss";
@import "modules/custom.scss";



// header.scss
@import "modules/header";

// footer.scss
@import "modules/footer";

// abouts.scss
@import "modules/about";

// news.scss
@import "modules/news";


.bg-svg {


    &-1 {
        position: absolute;
        z-index: -1;

        right: -9px;
        top: -125px;
            @media (max-width:767px) {
                display: none;
            }
    }

    &-2 {
        position: absolute;
        display: none;
        z-index: -1;

        right: 0;
            @media (max-width:767px) {
                display: block;
            }
    }
}




.section {

  &__header {


    padding: 1rem 0;

    border-top: 1px solid #596b63;
    border-bottom: 1px solid #596b63;


    margin-bottom: 1.5rem;

    h6 {
      margin: 0;

      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #596b63;

      @media (max-width:767px) {
        font-family: var(--font-family);
        font-weight: 300;
      }

    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;

    text-decoration: none;

    font-family: var(--second-family);
    font-weight: 450;
    font-size: 20px;
    color: #596b63;

    transition: 1s ease;

    cursor: pointer;

    width: fit-content;

    svg {
        transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;
        text-shadow: 0 0 1px #596b63;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }
}
}
.ui-button {

  &__primary {
    border: 1px solid #faf2d6;
    border-radius: 22px;

    font-family: var(--font-family);
    font-weight: 450;
    font-size: 16px;
    color: #faf2d6;

    padding: 12px 18px;

    display: flex;
    align-items: center;
    gap: .5rem;

    text-decoration: none;

    svg {
      transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }

  }
}


.service-item {
    display: flex;
    min-height: 800px;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    
    background-image: url(../../img/hero-index-bg.jpg);
    object-fit: cover;
    background-position-y: -300px;
    
    @media only screen and (min-width: 991px) {
      flex-direction: row;
    }
    
    &.not-expanded {
      @media (max-width:991px) {
        min-height: 375px;
        height: 100%;

      }
    }

    &.expanded {
      @media (max-width:991px) {
        min-height: 900px;
        height: 100vh;
      }
    }

    &__block {
      flex: 1;
      display: flex;
      align-items: stretch;
      cursor: pointer;
      transition: all 0.35s ease;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      overflow: hidden;
      
      &:nth-child(1) {

        transition: 1s ease;

        &:hover::before {
          transition: 1s ease;

          background: rgba(195, 167, 77, 1);   
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
          }
        }

        &::before {
          transition: 1s ease;

          mix-blend-mode: multiply;
          background: rgba(195, 167, 77, 0.75);   

        }
      }

      &:nth-child(2) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(72, 147, 97, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(72, 147, 97, 0.75);
  
        }
      }

      &:nth-child(3) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(61, 151, 181, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(61, 151, 181, 0.75);
          
        }
      }

      &:nth-child(4) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(243, 178, 35, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(243, 178, 35, 0.75);
          
        }
      }

      &:nth-child(5) {

        &:hover::before {
          transition: 1s ease;

          background: rgba(217, 216, 214, 1);
        }

        &:hover {
          svg {
            transition: 1s ease;
            transform: scale(1.1);
          }
        }

        &::before {
          transition: 1s ease;
          mix-blend-mode: multiply;
          background: rgba(217, 216, 214, 0.75);
          
        }
      }
      

      &:before {
        content: "";
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(15, 15, 15, 0.75);
        mix-blend-mode: color;
      }
  
      &--active {
        flex: 8;
        cursor: default;
  
        &:before {
          
        }
      }
    }
  
    &__title {
      font-weight: bold;
      white-space: nowrap;
      position: absolute;
      z-index: 30;
      opacity: 1;
      bottom: 4rem;
      transition: top 0.35s, opacity 0.15s;
      transform-origin: 0 0;
      font-size: 24px;
      text-transform: uppercase;

      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: center;

      @media (max-width:991px) {
        bottom: 0;
        height: 100%;
        margin: 0 auto;
        transform: rotate(90deg);
        top: 0;
        right: 0;
        left: 0;
        transform-origin: center;
        align-items: center;
      }

      svg {
        transition: 1s ease;

        &:first-of-type {
          @media (max-width:1279px) {
            display: block !important;
          }
        }
        &:last-of-type {
          @media (max-width:1279px) {
            display: none;
          }
        }
      }

  
      .service-item__block--active & {
        opacity: 0;
        top: 200%;
      }
    }
  
    &__section-content {
      position: relative;
      z-index: 30;
      opacity: 0;
      align-self: flex-end;
      width: 100%;
      transition: all 0.35s 0.1s ease-out;

      height: 100%;
  
      .service-item__block--active & {
        opacity: 1;
      }
  
      
    }

    &__inner {
      position: absolute;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      align-items: flex-end;
      left: 0;
      bottom: 0;
      padding: 20px;
      opacity: 0;
      transition: opacity 0.25s ease-out;

      height: auto;
      top: 0;
  

      @media only screen and (min-width: 768px) {
        grid-auto-flow: column;

        grid-column-gap: 40px;
        padding: 4rem 2rem;
      }

      @media only screen and (min-width: 1280px)  {
        grid-auto-flow: column;
        grid-template-columns: 50vw 200px;
        grid-column-gap: 40px;
        padding: 4rem 2rem;
      }

      .service-item__block--active & {
        opacity: 1;
      }
    }
  
    &__bio {
      display: flex;
      flex-direction: column;
      grid-gap: 24px;
      height: 100%;

      & > svg:last-of-type {
        margin-top: auto;

        @media (max-width:767px) {
          display: none;
        }
      }
  
      &-title {
        font-family: var(--second-family);
        font-weight: 350;
        font-size: 64px;
        color: #faf2d6;

        margin: 0;
  
        @media only screen and (min-width: 768px) {
          font-size: 48px;
          line-height: 48px;
        }
  
        @media only screen and (min-width: 1280px) {
          font-size: 64px;
          line-height: 64px;
        }



        span {
         
          @media (max-width:767px) {
            display: none;
          }
        }

        svg {
          display: none;
          @media (max-width:767px) {
            display: flex;
          }
        }

      }
  
      &-description {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 18px;
        color: #faf2d6;
      }
    }
  
    
    &__links {
      display: flex;
      gap: 2rem;
      height: fit-content;
      align-items: center;

      @media (max-width:991px) {
        margin-top: auto;
      }

      .section__link {
        color: #faf2d6;
      }
    }
}


// nums
.nums {
  padding: 8rem 0 ;
  background: #596b63;

  @media (max-width:767px) {
    padding: 4rem 0;
  }

  .swiper-custom-controls {
    display: none;
    @media (max-width:991px) {
      display: flex;
    }
    .custom-pagination {
      color: #faf2d6;
      font-weight: 300;
      font-family: var(--second-family);
    }
    .nums-pagination-total {
      opacity: .5;
    }
  }
  .swiper-wrapper {
    @media (max-width:991px) {
      margin-bottom: 8rem;
    }

    justify-content: space-between;

    .swiper-slide {
      width: fit-content;

    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &::after {

    }

    &--num {
      font-family: var(--second-family);
      font-weight: 250;
      font-size: 125px;
      letter-spacing: 0.04em;
      color: #faf2d6;
    }
    &--subtitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #faf2d6;

      max-width: 250px;
    }
  }

  &__divider {
    height: auto;
    width: 1px;
    background-color: #faf2d6;
  }
}

// our-impact
.our-impact {
  padding: 3rem 0;

  &__wrapper {
    display: flex;
    gap: 3rem;
  }

  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @media (max-width:991px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 500px;
      object-fit: cover;

    }
  }

  &--link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .25rem;

    margin-top: 4rem;
    margin-left: auto;

    padding-right: 1rem;

    font-family: var(--second-family);
    font-weight: 450;
    font-size: 20px;
    color: #596b63;

    transition: 1s ease;

    cursor: pointer;

    width: fit-content;

    svg {
        transition: 1s ease;
    }

    &:hover {
        transition: 1s ease;
        text-shadow: 0 0 1px #596b63;

        svg {
            transition: 1s ease;
            transform: rotate(47.5deg);
        }
    }
  }



  &__text {
    display: flex;
    flex-direction: column;

    h5 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 32px;
      line-height: 131%;
      color: #596b63;

      margin: 0;
    }
    p {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 16px;
      color: #596b63;
    }
  }

  &__links {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: auto;

    @media (max-width:991px) {
      margin-top: 4rem;
    }

  }
}
  
// quote
.quote {
  padding: 3rem 0;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 33%;
  }

  &__quote {
    position: relative;
    
    display: flex;
    flex-direction: column;
    

    p {
      font-family: var(--second-family);
      font-weight: 300;
      font-size: 40px;
      line-height: 105%;
      color: #596b63;


      @media (max-width:767px) {
        margin-left: 4rem;
      }
    }
  }

  &__author {
    font-family: var(--font-family);
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #596b63;

    margin-top: auto;

    @media (max-width:1440px) {
      font-size: 14px;
    }
  }
  
  &__dc {
    position: absolute;
    left: -72px;    
    top: 0;

    @media (max-width:767px) {
      top: 45px;
      left: 0;
    }
  }

  &__img {
    max-width: 20%;

    @media (max-width:767px) {
      display: none;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
    
  }

}



.swiper-custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}

.custom-pagination {
  display: flex;
  align-items: center;
  gap: 7px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #212322;

  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;

  &-current {
    color: #212322;
  }

  &-total {
    opacity: 0.5;
  }
  
}




.custom-navigation {


  display: flex;
  gap: 10px;
  z-index: 10;
}

