// news
.news {

    &-index {
        background-color: #dadedc;
        padding: 3rem 0;

        .swiper-custom-controls {
            display: none;
            @media (max-width:991px) {
                display: flex;

            }
        }

        &__wrapper {

            display: flex;
            justify-content: space-between;

            gap: 1.5rem;

            @media (max-width:991px) {
                margin-bottom: 3rem;
            }

            .swiper-wrapper {
                @media (min-width:991px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1.5rem;
                }

                .news__card {
                    @media (min-width:991px) {
                        width: fit-content;
                    }
                }
            }
           
        }

        &__img {
            margin-bottom: 1.5rem;


            @media (max-width:567px) {
                display: none;
            }

            img {
                width: 100%;
                border-radius: 12px;
                object-fit: cover;

                
            }
        }
    }


    &__card {
        background-color: #fff;
        border-radius: 12px;
        

        &--date {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #596b63;

            padding: 2rem 1rem 1rem;
        }

        h5 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            color: #596b63;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        

            margin: 1rem 0;

            padding: 0rem 1rem 0rem;
        }

        p {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 18px;
            color: #596b63;

            padding-right: 1rem;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;

            padding: 0rem 1rem 1rem;
        }


        &--tags {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            padding: 0rem 1rem 1rem;
        }
        &--tag {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #596b63;

            border: 1px solid #596b63;
            border-radius: 26px;
            padding: 4px 24px;
        }

        &--link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: .25rem;

            margin-top: 4rem;
            margin-left: auto;

            padding-right: 1rem;

            font-family: var(--second-family);
            font-weight: 450;
            font-size: 20px;
            color: #596b63;

            transition: 1s ease;

            cursor: pointer;

            width: fit-content;

            padding: 0rem 1rem 1rem;

            @media (max-width:767px) {
                margin-left: 0;
            }

            svg {
                transition: 1s ease;
            }

            &:hover {
                transition: 1s ease;
                text-shadow: 0 0 1px #596b63;

                svg {
                    transition: 1s ease;
                    transform: rotate(47.5deg);
                }
            }
        }
    }
}